@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --dark-yellow: #edb547;
    ---light-yellow: #ffdd00;

    --grey: #a7aaab;
    --green: #3f6167
}
*{
    font-family: "Montserrat", sans-serif !important; 
}
a{
    color: #333;
    text-decoration: none;
}
html {
    scroll-behavior: smooth
}
section{
    margin-bottom: 100px;
}
 #about,
  #services,
  #advantages,
  #contact_sec,
  #faq{
      scroll-margin-top: 200px; 
  }
.modal{
    z-index: 99999;
}
/* Modal overlay (arka fon) */
.modal-backdrop.show {
    background: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(3px);
}

/* Modal qutusu */
.modal-content {
    border: none;
    padding: 10px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
}

/* Header */
.modal-header {
    border-bottom: none;
    padding: 25px 30px;
    display: flex;justify-content: space-between;
    align-items:center
}

.modal-title {
    font-size: 22px;
    font-weight: bold;
    color: var(--green);
}

.btn-close {
    opacity: 0.7;
    font-size: 19px;
    transition: all .5s ease;
    margin: 0 !important;
}
.btn-close:hover {
    opacity: 1;
    color: var(--dark-yellow)
}

/* Body */
.modal-body {
    padding: 5px 30px 25px;
}
.modal-body .btn-default{
    width: 100%;
    color: #333;
    font-weight: bold;
}
/* Input dizayn */
.modal-body input,
.modal-body textarea {
    width: 100%;
    padding: 14px 18px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    outline: none;
    font-size: 15px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.modal-body input:focus,
.modal-body textarea:focus {
    border-color: var(--dark-yellow);
    background: #fff;
    box-shadow: 0 0 0 3px rgba(237, 181, 71, 0.25);
}

/* Footer */
.modal-footer {
    border-top: none;
    padding: 20px 30px 30px;
}

/* Close button */
.modal-footer .btn-secondary {
    background: #e4e4e4;
    color: #000;
    border-radius: 10px;
    padding: 10px 22px;
    border: none;
    transition: 0.3s;
}
.modal-footer .btn-secondary:hover {
    background: #d4d4d4;
}

/* Submit button */
.modal-footer .btn-primary {
    background: var(--dark-yellow);
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
}
.modal-footer .btn-primary:hover {
    background: var(--light-yellow);
    color: #3f3f3f;
}

/* Fixed Icon */
.wrapper {
  height: 100vh;
  background: #333;
}

#main-div {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 0;
}
#main-button .icon-close { display: none; }
#main-button.open .icon-mail { display: none; }
#main-button.open .icon-close { display: block; }


#main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 60px;
  width: 60px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid var(---light-yellow);
  border-radius: 50%;
  transition: all .3s ease;
}

#main-button:hover {
  background-color: #fff;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transform: scale(1.08);
}


#main-button~.onlineregistration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  visibility: hidden;
  font-weight: bold;
  text-decoration: none;
  height: 50px;
  padding: 0 25px;
  color: #333;
  background:var(---light-yellow);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: none;
  position: absolute;
  z-index: -1;
  right: 0 !important;
  bottom: 0 !important;
  opacity: 0;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s ease;
  border-radius: 30px;
  font-size: 14px;
  
}

#main-button.open~.onlineregistration {
  visibility: visible;
  right: 80px !important;
  opacity: 1;
  transition: .4s all cubic-bezier(0, 0.01, 0, 1.27);
}

#main-button.open~.onlineregistration:hover {
  background-color: var(--dark-yellow);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transform: translateX(-4px);
}


#main-button~.wrappericon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 55px;
  width: 55px;
  opacity: 0;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: all .3s ease;
}
#main-button~.wrappericon img{
     height: 55px;
  width: 55px;
}

#main-button.open~.wrappericon {
  opacity: 1;
  transition: .4s all cubic-bezier(0, 0.01, 0, 1.27);
}

#main-button.open~.wrappericon:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transform: scale(1.12);
}

#main-button.open~#wrapperwp {
  bottom: 70px;
  background: linear-gradient(0deg, #00b100, #09db09);
}

#main-button.open~#wrappertg {
  bottom: 140px;
  background: linear-gradient(0deg, #017ab1, #01abe6) !important;
}

#main-button.open~#wrapperphone {
  bottom: 210px;

}

.wave {
  animation-name: wave;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wrapper {
  display: block;
  position: absolute;
  z-index: 200;
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0 #8a091820;
  }

  100% {
    box-shadow: 0 0 0 15px #8a09180b;
  }
}

.open {
  animation-iteration-count: 1;
}
/* BURGER BUTTON */
#open_menu {
   display: none;
   cursor: pointer;
}

@media(max-width: 992px) {
   #open_menu {
      display: block;
   }

   .top_menu,
   .top_menu_right {
      display: none !important;
   }
}

/* MOBILE MENU RIGHT SLIDE */
#mobile_menu {
   position: fixed;
   top: 0;
   right: -330px;   /* biraz geniş edirik */
   width: 330px;
   height: 100%;
   padding: 60px 30px;
   background: #fff;
   box-shadow: -4px 0 25px rgba(0,0,0,0.12);
   z-index: 9999;
   list-style: none;
   transition: right .35s ease;
   overflow-y: auto;     /* çox content olsa scroll */
}

#mobile_menu.open {
   right: 0;
}

/* CLOSE BUTTON */
#close_menu {
   position: absolute;
   top: 20px;
   right: 20px;
   font-size: 26px;
   font-weight: 600;
   color: #000;
   cursor: pointer;
}

#mobile_menu li {
   margin-bottom: 25px;
}

#mobile_menu li a {
   font-size: 18px;
   font-weight: 600;
   color: #000;
}

/* BURGER BUTTON SHOW ONLY MOBILE */
#open_menu {
   display: none;
   cursor: pointer;
}

@media (max-width: 992px) {
   #open_menu {
      display: block;
   }

   .top_menu,
   .top_menu_right {
      display: none !important;
   }
}

/* OVERLAY */
#menu_overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.55);
   backdrop-filter: blur(3px);
   z-index: 9990;
   opacity: 0;
   pointer-events: none;
   transition: opacity .3s ease;
}

#menu_overlay.show {
   opacity: 1;
   pointer-events: auto;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fbfbfb;
    box-shadow: rgba(0,0,0,.04) 0 3px 5px
}
.top_menu a:hover {
    color: var(--dark-yellow)
}
.h_social_links,.top_menu li {
    position: relative
}

.h_phone {
    border-radius: 8px;
    transition: .3s ease-in-out
}

.h_phone,.top_menu li::after,a {
    transition: .3s ease-in-out
}


.header_nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items:center;
    padding: 16px 0;
}
.h_logo{
    width: 100px;
    object-fit: cover;
} 
.top_menu li {
    font-weight: 500
}
.top_menu li a{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
.top_menu{
    display: flex;
    gap: 30px;
}
.top_menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    border-bottom: 1px solid var(---light-yellow)
}

.top_menu li:hover::after {
    width: 100%
}

.top_menu_right {
    display: flex;
    gap: 20px;
    align-items: center;
}
.h_social_links{
    display: flex;
}

.h_phone {
     padding: 10px;
    width: fit-content;
    font-weight: 500;
    background-color: var(---light-yellow);
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.h_phone:hover {
    background-color: #ffcf03
}

.h_social_gap {
    gap: 10px
}



@keyframes fadeInOut {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.h_social_links::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    background-color: #29a71a;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: 1s ease-in-out .5s infinite alternate fadeInOut;
    transform: translate(0, -50%);
}

/*Hero Slider */
.hero-slider {
    width: 100%;
    position: relative;
    margin-top: 115px;
}

.hero-slide {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.592);
}

.hero-container {
    position: absolute;
    inset: 0;
    z-index: 10;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-tag {
    font-size: .933em;
    line-height: 1.429em;
    opacity: .5;
    margin-bottom: 9px;
    color: #fff
}

.hero-title {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    margin-bottom: 35px;
    width: 80%;
}

.hero-subtext {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 40px;
    width: 80%;
}

.hero-btns {
    display: flex;
    gap: 20px;
}

.btn {
    /* padding: 17px 26px; */
    font-size: 16px;
    /* line-height: 20px; */
    font-weight: bold;
}
.btn-default-yellow{
    display:flex;
  align-items:center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(---light-yellow) !important;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: #fff;
  background-color: var(---light-yellow);
  height: 55px !important;
  padding: 0 20px;
  font-weight: bold;
}
.btn-default-yellow:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  height: 150px;
  width: 200px;

  border-radius: 50%;
}

.btn-default-yellow:hover {
  color: #333;
  background-color: var(---light-yellow)
}

.btn-default-yellow:before {
  top: 100%;
  left: 100%;
  transition: all 0.9s;
}

.btn-default-yellow:hover:before {
  top: -30px;
  left: -30px;
}

.btn-default-yellow:active:before {
  background: var(---light-yellow);
  transition: background .7s;
}
.btn-default{
    text-transform: uppercase;
  display:flex;
  align-items:center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--dark-yellow) !important;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: #fff;
  background-color: var(--dark-yellow);
  height: 55px !important;
  padding: 0 20px;
}
.btn-default:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--dark-yellow);
  height: 150px;
  width: 200px;

  border-radius: 50%;
}

.btn-default:hover {
  color: #333;
  background-color: #fff
}

.btn-default:before {
  top: 100%;
  left: 100%;
  transition: all 0.9s;
}

.btn-default:hover:before {
  top: -30px;
  left: -30px;
}

.btn-default:active:before {
  background: var(--green);
  transition: background .7s;
}
.btn-default2{
  display: flex;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #fff !important;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  background-color: #fff;
  color: var(--color);
  height: 55px !important;
  padding: 0 20px;
  align-items:center;
  justify-content: center;
}
.btn-default2:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--dark-yellow);
  height: 100px;
  width: 160px;
  border-radius: 50%;
}

.btn-default2:hover {
  background-color: #fff;
  border: 2px solid var(--green);
}

.btn-default2:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.btn-default2:hover:before {
  top: -30px;
  left: -30px;
}

.btn-default2:active:before {
  background: var(--green);
  transition: background 0s;
}



/* NAVIGATION */
.hero-nav {
        position: absolute;
    bottom: 5%;
    right: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 30;
    transform: translate(-50%, 0%);
}

/* DOTS */
.swiper-pagination {
    position: relative !important;
    display: flex;
}

.swiper-pagination-bullet {
    width:12px;
    height: 12px;
    background: #fff;
    opacity: 1;
    transition: .25s;
}

.swiper-pagination-bullet-active {
    background: var(--dark-yellow);
    opacity: 1;
}

.hero-arrows {
    display: flex;
    gap: 30px;
}

.custom-prev,
.custom-next {
    width: 55px;
    height: 55px;
    background:var(--dark-yellow);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .25s;
    color: #fff
}

.custom-prev span,
.custom-next span {
    font-size: 24px;
    color: #fff;
    line-height: 0;
    font-weight: 300;
}
.custom-prev,
.custom-next {
    position: relative;
    z-index: 999;
}
.custom-prev:hover,
.custom-next:hover {
    background: rgba(0,0,0,0.85);
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 18px;
}

#about h2 {
    font-weight: bold;
    line-height: 1.1;
    margin: 0 0 20px 0;
    color: #2B2B2B
}

#about h2 {
    position: relative;
    font-size: 44px
}

#about h2:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    z-index: -1;
    width: 90px;
    height: 90px;
    background: linear-gradient(90deg, var(--dark-yellow), var(---light-yellow));
    ;
    opacity: 0.8;
    filter: blur(35px)
}

#about h2 span {
    position: relative;
    z-index: 1
}

#about img {
    max-width: 100%;
    height: auto
}

#about .block-number {
    position: absolute !important;
    top: -36px;
    left: 0;
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    background: linear-gradient(90deg, #B3E042 0%, #65AB0E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
}



#about h2:before {
    animation: pulse 3s ease infinite
}

@keyframes pulse {
    50% {
        transform: scale(0.5);
        filter: blur(25px)
    }
}




/* [data-aos][data-aos][data-aos-delay="100"] {
                transition-delay: 0
            }

            [data-aos][data-aos][data-aos-delay="100"].aos-animate {
                transition-delay: .1s
            }

            [data-aos][data-aos][data-aos-delay="200"] {
                transition-delay: 0
            } */

/* [data-aos][data-aos][data-aos-delay="200"].aos-animate {
                transition-delay: .2s
            }

            [data-aos][data-aos][data-aos-delay="300"] {
                transition-delay: 0
            }

            [data-aos][data-aos][data-aos-delay="300"].aos-animate {
                transition-delay: .3s
            }

            [data-aos^=fade][data-aos^=fade] {
                opacity: 0;
                transition-property: opacity,transform
            }

            [data-aos^=fade][data-aos^=fade].aos-animate {
                opacity: 1;
                transform: translateZ(0)
            }

            [data-aos=fade-up] {
                transform: translate3d(0,100px,0)
            }

            [data-aos=fade-left] {
                transform: translate3d(100px,0,0)
            } */

#about .about-video {
    cursor: pointer;
    border-radius: 8px;
    margin-top: 9px;
    overflow: hidden;
    position: relative
}

/* #about .about-video .about-video-preview {
                transform: translateX(-60%)
            } */

#about .about-video img {
    height: 550px;
    /* width: 100% !important; */
    object-fit: cover;
}
#about .about-info {
    display: grid;
    grid-template-columns: 38% 60%;
    justify-content: space-between;
    align-items: stretch
}

#about .about-img {
    min-width: 464px;
    position: relative
}

#about .about-img-text {
    background: #fff;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #595959;
    box-shadow: 0px 5px 20px rgba(232, 232, 232, 0.7);
    border-radius: 5px;
    position: absolute;
    top: -25px;
    left: -40px;
    z-index: 2
}

#about .about-img-text p {
    white-space: nowrap;
    color: #59595980
}

#about .about-right {
    padding-left: 35px
}

#about .about-right h2 {
    margin-top: 1px
}

#about .about-right .about-info-text {
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    color: #2B2B2B
}

#about .about-right .about-info-desc {
    font-size: 18px;
    line-height: 150%;
    color: #595959;
    margin-top: 20px;
    text-align: justify;
    /* margin-bottom: 30px */
}

#about .about-right .about-info-desc a {
    color: var(--blue3);
    transition: all 0.3s ease-in-out
}

#about .about-right .about-info-desc a:hover {
    text-decoration: underline
}

#about .about-right .about-info-buttons {
    display: flex;
    align-items: center
}

#about .about-right .about-info-buttons .button {
    margin-right: 20px
}

#about .about-right .about-info-buttons .button.button-white {
    margin-right: 0;
    padding: 14px 26px
}

#about .about-benefits {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 0 !important;
}

/* #about .about-benefits .about-benefits-item {
    flex: 1 1 25%;
    width: 25%;
    max-width: 25%;
    padding: 0 15px
} */

#about .about-benefits .about-benefits-item .about-benefits-item-wrap {
    background: var(--grey);
    border-radius: 5px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
        justify-content: flex-start;
    min-height: 170px;
}

#about .about-benefits .about-benefits-item .about-benefits-item-wrap .about-svgicon {
    margin-bottom: 20px
}
#about .about-benefits .about-benefits-item .about-benefits-item-wrap svg{
     width: 40px;
    height: 40px;
}

#about .about-benefits .about-benefits-item .about-benefits-item-wrap .about-benefits-item-text {
    font-size: 18px;
    line-height: 130%;
    color: #fff
}

#about .about-benefits .about-benefits-item .about-benefits-item-wrap .about-benefits-item-text a {
    text-decoration: underline;
    color: #333
}

#about .about-benefits .about-benefits-item .about-benefits-item-wrap .about-benefits-item-text p {
    margin: 0
}
.section-top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}


.section-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--green)
}


.press-card {
    position: relative;
    z-index: 0;
    display: block;
    height: 330px
}


.press-card {
    border: 1px solid #e9e9e9;
    overflow: hidden;
    transition: border-color .5s cubic-bezier(0.33, 1, 0.68, 1)
}

.press-card:hover {
    border-color: rgba(0, 0, 0, 0)
}

.press-card:hover .press-card__hover {
    transform: none
}

.press-card:hover .press-card__title,
.press-card:hover .press-card__text,
.press-card:hover .press-card_desc {
    color: #fff !important
}

.press-card_desc {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    color:#333;
}

.press-card:hover .press-card__wrapper {
    border-color: hsla(0, 0%, 100%, .2)
}

.press-card:hover .press-card__icon {
    background-color: var(--dark-yellow)
}

.press-card:hover .press-card__svg path {
    stroke: #fff
}

.press-card__hover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translateY(110%);
    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    transition: transform .5s cubic-bezier(0.33, 1, 0.68, 1);
}
.press-card__hover::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        rgba(0, 0, 0, 0.619) 100%
    );

    opacity: 0;      
    transition: .5s;
}
.press-card:hover .press-card__hover::after {
    opacity: 1;        
}
.press-card:hover .press-card__hover {
    transform: translateY(0);
}

.press-card__bg {
    width: 10.3125rem;
    height: 17.4375rem
}

.press-card__content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.press-card__container {
    padding: 1.25rem
}

.press-card__title {
    transition: color .5s cubic-bezier(0.33, 1, 0.68, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 20px;
    color: var(--blue3)
}

.press-card_desc {
    transition: color .5s cubic-bezier(0.33, 1, 0.68, 1);
}



.press-card__wrapper {
    padding: .625rem 1.25rem
}

.press-card__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e9e9e9;
    transition: border-color .5s cubic-bezier(0.33, 1, 0.68, 1)
}

.press-card__date {
    display: flex
}


.press-card__date {
    color: var(--blue);
    text-transform: uppercase;
    letter-spacing: -0.01em
}


.press-card__text {
    font-weight: 700;
    font-size: 15px;
    color: var(--green)
}

.press-card__icon {
    --size: 1.75rem
}



.press-card__icon {
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #e6e6e6;
    transition: background-color .5s cubic-bezier(0.33, 1, 0.68, 1)
}

.press-card__svg {
    --size: 0.75rem
}

.press-card__svg {
    width: 12px;
    height: 12px;
    transform: rotate(-90deg)
}

.press-card__svg path {
    stroke: #333;
    transition: .5s cubic-bezier(0.33, 1, 0.68, 1)
}


.only-desktop .button,
.only-mobile .button {
    padding: 10px 30px;
    width: 230px;
}


.services_section-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    align-items: stretch
}

.only-mobile {
    display: none;
}

.services_section .press-card__title {
    color: #333
}




.button {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 14px 60px 14px 30px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: white;
    background-image: linear-gradient(90deg, var(--blue), var(--blue2));
    border-radius: 30px;
    border: 0;
    overflow: hidden;
    cursor: pointer
}

.button span {
    position: relative;
    z-index: 3;
    display: inline-block;
    margin-bottom: 1px;
    will-change: transform;
    transform: translateZ(0);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, var(--blue), var(--blue2));
    transition: opacity 0.4s ease-in-out;
    opacity: 0
}

.button:before {
    content: "";
    position: absolute;
    z-index: 3;
    top: calc(50% - 5px);
    right: 30px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    will-change: transform;
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.button:hover:after {
    opacity: 1
}

.button:hover:before {
    transform: translate3d(45px, 0, 0) scale(0.5)
}

.button:hover span {
    transform: translate3d(15px, 0, 0)
}
.bg1 { background-image: url(' https://struktureit.com/wp-content/uploads/elementor/thumbs/colaboracion-y-asesoramiento-tecnico-en-constructores-Struktureit-scaled-r87dyygxsf2dudoq5gpymzdwsqg8pym25uta63y6mo.jpg'); }
.bg2 { background-image: url('https://avatars.mds.yandex.net/get-yapic/39460/tqyXx97fMnq20K25qhUNQHSPg6Y-1/orig '); }
.bg3 { background-image: url('https://avatars.mds.yandex.net/i?id=43d21500a57989f4afa12fc9ce331f3c8c820657-5259283-images-thumbs&n=13'); }
.bg4 { background-image: url('https://avatars.mds.yandex.net/i?id=ba03c190418379466c533fa0e796848cf89eb772-16972219-images-thumbs&n=13'); }
.bg5 { background-image: url('https://avatars.mds.yandex.net/i?id=f0947076dca94144987fd74dc5f0bd0dd4558c3a-5876635-images-thumbs&n=13'); }

.info, .info2{
    background-color: var(--green);
    padding: 80px 0;
}
.info .container , .info2 .container{
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background: #F0F0F0;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 5px rgba(87, 110, 124, 0.7);
}
.info-texts{
    width: 59%;
    margin: 55px 44px 38px 45px;
    font-style: normal;
    color: #2B353B;
}
.info-texts h2{
    font-size: 34px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.info-texts p{
    padding-top: 15px;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 20px;
}
.info-texts span{
    color: var(--dark-yellow);
    font-weight: bold;
}
.info img, .info2 img{
    width: 41%;
    object-fit: cover;
}
:root{
        --color-ivuap3whn: 255, 255, 255;
            --color-ihtfep74x: 0, 0, 0;
                --color-igso2bjes: 0, 0, 0;
}
.advantages-cards {
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    row-gap: 85px;
    margin-top: 40px;
    justify-content: center;
}

.advantages .section-title{
    margin-bottom: 80px !important;
}
.advantages-cards .card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
     rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; 
    border:none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.advantages-cards .card-img img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 25px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    bottom:20px
}
.advantages-cards .card-img{
    width: 100%;
    height: 170px;
    position: relative;

    
}
.card-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #000;
}

.advantages-cards p {
    font-size: 16px;
    line-height: 1.55;
    color: #666;
    margin-bottom: 30px;
}
.advantages a{
    text-transform: uppercase;
    background-color: var(---light-yellow);
    color: #333;
    border-color: var(---light-yellow) !important;
    font-size: 16px;
    width: fit-content;
}
.faq-logo {
    max-width: 80%
}

.faq-hidden {
   max-height: 0;
   height: 0;
}

h2 {
    font-weight: 600
}

#faq h2 {
    margin-top: 110px
}

.explore-btn {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-right: auto;
    padding: .5rem 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    background: #fadf13;
    border: 2px solid #f9fafb;
    border-radius: 9999px;
    box-shadow: rgba(0,0,0,.1) 0 4px 8px;
    color: #111827;
    cursor: pointer;
    transition: color .4s;
    isolation: isolate
}

.explore-btn:hover {
    color: #fff!important
}

.explore-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    left: -100%;
    top: 0;
    background-color: #000;
    border-radius: 50%;
    transition: .7s;
    z-index: -1
}

.link,.resources .f66 {
    position: relative
}

.explore-btn:hover::before {
    left: 0;
    transform: scale(1.5)
}

.resources-item,.service-btn {
    color: #000;
    text-decoration: none
}

/* #faq h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px
} */

.flex {
    display: flex;
    gap: 30px;
}

.resources .f33 {
    padding-right: .75rem
}

.f33 {
    flex: 1 1 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%
}

.resources-desc {
    padding: 1.5rem;
    font-size: 24xp;
    text-align: center;
    line-height: 1.2;
    background-color: #f5f5f5;
    border-radius: 20px
}

.resources-desc .desc {
    margin-block:20px;
    letter-spacing: -.72px
}

.faq-right {
  /* flex: 0 0 60%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 12px; */
  max-height: 350px;
  overflow-y: auto;
  padding: 0 30px 0 0;
}

.faq-item {
  transition: all 0.4s ease;
  overflow: hidden;
  margin-bottom: 20px;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  cursor: pointer;
  border-radius: 50px;
  background: #f6f6f6;
}

.faq-header h3 {
  font-size: 20px;
  font-weight: bold;
  color: #121212;

  margin: 0;
  transition: color 0.3s ease;
}

.faq-arrow {
  background: #fff;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.4s ease;
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  background: #fff;
  border-radius: 0 0 20px 20px;
  padding: 0 24px;
  transform: translateY(-5px);
  transition: all 0.6s ease;
}

.faq-content p {
  font-size: 18px;
  color: #222;
  line-height: 1.6;
  margin: 0;
  padding: 18px 0;
  font-family: "Play", sans-serif;
}



.faq-item.active .faq-header h3 {
  color: var(--dark-yellow);
  /* question turns red */
}

.faq-item.active .faq-content {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
  background: #fff;
  /* only answer is white */
}

.faq-item.active .faq-arrow {
  transform: rotate(45deg);
}

/* Hover animation */
.faq-item:hover .faq-arrow {
  transform: rotate(45deg);
}

.faq-header:hover h3 {
  color: var(--dark-yellow);
}

.f66 {
    flex: 1 1 66.66666%;
    width: 66.66666%
}

#faq .btn-default-yellow{
    width: fit-content;
    margin: auto;
    color: #333;
    font-weight: bold;
}









#callFormWrapper {
    margin-top: 30px
}
#formWrapper{
    display: flex;
    gap: 20px;

}
#formWrapper h2 {
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 12px;
    color: #313131!important
}

.formWrapperLeft,.formWrapperRight {
    width: 49%
}

.formLTitle {
    color: #313131!important;
    margin-bottom: 15px
}

.formWrapperLeft a {
    color: #333;
    font-weight: 700;
    text-decoration: none;
    font-size: 23px
}
.formWrapperLeft{
        display: flex;
    flex-direction: column;
    gap: 10px
}


.multipleWrap {
    gap: 40px;
    margin-bottom: 28px
}

.text-b {
    font-weight: 700
}

.fw-23 {
    font-size: 23px
}

.formWrapperRight>p {
    font-size: 15px
}

.formWrapperRight h3 {
    text-align: center;
    padding: 5px;
    border: 1px solid #0003;
    border-radius: 32px
}

.formWrapperRight h3 p {
    color: #fff!important;
    border-radius: 32px;
    background-color: #222;
    padding: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 22px
}

#callFormWrapper>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px
}

#callFormWrapper input,#callFormWrapper textarea {
    width: 49%;
    border: 1px solid #ddd;
    background: #fafafa;
    border-radius: 12px;
    padding: 15px 18px;
    font-size: 16px;
    color: #111;
    transition: .3s;
    box-shadow: 0 2px 5px rgba(0,0,0,.03);
    resize: none
}

#callFormWrapper button,#callFormWrapper textarea {
    width: 100%;
    padding: 10px
}

#callFormWrapper input:focus,#callFormWrapper textarea:focus {
    border-color: #fadf12;
    box-shadow: 0 0 0 3px #fadf1217;
    outline: 0
}


#map{
    height: 400px;
    width: 100%;
    position: absolute;
    top: 30px;
}
.map{
    margin-bottom: 0;
    height: 400px;
    position: relative;
}
:root {
    --footer-color-bg: #121F28;
    --footer-color-font: #767E93;
    --radius: 2.5rem;
    --radius-sm: 1.875rem;
    --radius-lg: 3.75rem;
}

.footer {
    --footer-color-delimiter: #ebebeb;
    background-color: var(--footer-color-bg);
    color: var(--footer-color-font);
    position: relative;
    z-index: 99;
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    padding: 0 var(--offset-side)
}

.jeywalogo img{
    max-width: 200px !important;
    object-fit: cover;
}
.footer__main {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 2.5rem 0
}

.footer__text {
    font-size: 17px;
    line-height: 24px;
    margin: 0
}

.footer__text:not(:last-child) {
    margin-bottom: 2.5rem
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .9375rem
}

.footer__phone {
    --footer-color-font: white;
    font: 2rem/1 var(--font);
    letter-spacing: -.02em;
    white-space: nowrap
}

.footer__email {
    --footer-color-font: #fff
}



.footer__nav {
    display: flex;
    gap: 5rem
}



.footer-nav__title {
    --footer-color-font: white;
    display: inline-block;
    font: 1.25rem/1 var(--font);
    letter-spacing: .01em;
    margin-bottom: 1.25rem;
    -webkit-user-select: none;
    user-select: none
}

.footer-nav__list {
    padding: 0;
    margin: 0
}

.footer-nav__item {
    text-indent: 0
}

.footer-nav__item::marker {
    content: ""
}

.footer-nav__item:not(:last-child) {
    margin-bottom: .9375rem
}

.footer-nav__link {
    font: 1.125rem/1 var(--font);
    letter-spacing: -.02em;
    -webkit-user-select: none;
    user-select: none
}


.footer__other {
    font: .9375rem/1.4 var(--font);
    -webkit-user-select: none;
    user-select: none;
    padding: 2.5rem 0
}

.footer__other:not(:first-child) {
    border-top: 1px solid #2A353E
}

.footer__dev-link {
    --footer-color-font: var(--color-primary);
    white-space: nowrap
}

.footer a {
    color: var(--footer-color-font);
    text-decoration: none;
    transition: color var(--transition-time)
}

.footer a:hover {
    color: #fff
}
.footer__main {
        padding: 3.125rem 0
    }
    .footer__other {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 3.4375rem;
        padding-bottom: 3.4375rem
    }

@media (max-width: 1200px) {

    .m-bottom {
        margin-bottom: 100px
    }  
    #about .m-bottom {
        margin-bottom: 70px
    }

    #about h2 {
        font-size: 31px
    }

    #about h2:before {
        top: -10px;
        width: 45px;
        height: 45px;
        filter: blur(20px)
    }

    #about .block-number {
        top: -31px
    }  
    #about .about-right .about-info-buttons {
        flex-wrap: wrap
    }

    #about .about-right .about-info-buttons .button {
        width: 380px;
        text-align: center;
        margin-bottom: 15px
    }

    #about .about-right .about-info-buttons .button:last-child {
        margin-bottom: 0
    }

    .about-benefits .about-benefits-item .about-benefits-item-wrap {
        height: 100%
    }


    #about .about-info {
        flex-direction: column;
        padding: 0 40px
    }

    #about .about-video {
        overflow: initial;
        margin-top: 0px
    }

    #about .about-video .about-video-preview {
        transform: translateX(0%)
    }

    #about .about-video img {
        height: auto
    }

    #about .about-benefits {
        /* flex-wrap: wrap; */
        margin-bottom: -30px
    }



    #about .about-img {
        min-width: 100%;
        max-width: 800px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto
    }
    #about .about-right .about-info-text{
        font-size: 18px;
    }
    #about .about-right .about-info-desc {
        font-size: 15px;
    }

    #about .about-video img {
            width: 100%;}
    #about .about-img-text {
        left: -20px;
        padding: 10px
    }

    #about .about-right {
        padding-left: 0
    }

    #about .about-right h2 {
        max-width: 550px
    }
    .services_section-grid {
        grid-template-columns: repeat(3,1fr);
    }

    nav .h_social_links.desktop{
        display: none;
    }
    .hero-title{
        font-size: 50px;
    }
    .hero-subtext {
        font-size: 12px;
    }
    .btn, .btn-default, .btn-default-yellow, .btn-default2{
        font-size: 13px !important;
    }
    .custom-prev, .custom-next{
        height: 50px;
        width: 50px;
    }
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
    }
    #about .about-benefits .about-benefits-item .about-benefits-item-wrap .about-benefits-item-text {
        font-size: 16px;
    }
    .section-title{
        font-size: 30px;
    }
    .press-card__title{
        font-size: 18px;
    }
    .info-texts h2 {
        font-size: 23px;
    }
    .info-texts p {
        padding-top: 0;
        font-size: 14px;
    }
    .advantages-cards .card-img img{
        height: 170px;
    }
    .faq-header h3 {
        font-size: 17px;
    }
    .faq-content {
        font-size: 16px;
    }
    .desc{
        font-size: 14px;
    }
    #formWrapper h2{
        font-size: 40px;
    }
    .formWrapperLeft{
        font-size: 14px;
    }
    .formWrapperLeft a, .fw-23, .formWrapperRight h3 p{
        font-size: 19px;
    }
    .formWrapperRight>p {
    font-size: 14px;
}
#callFormWrapper input, #callFormWrapper textarea {
    font-size: 14px;
}
.h_social_links{
    display: none;
}


}



@media(max-width:992px){
    
#about h2{
    font-size: 24px;
}
.hero-title {
        font-size: 45px;
        margin-bottom: 20px;
    }
    #about .about-info{
        grid-template-columns: 1fr;
    }

        #about .about-video{
            height: 330px;
        }
            #about .about-video img{
                height: 330px;
                object-fit:cover
            }

            #about .about-benefits{
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              width: 100%;
              max-width: 100%;
            }
            .section-title{
                font-size: 24px;
            }
            .info-texts h2 {
        font-size: 20px;
    }
        .info-texts p {
        padding-top: 0;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .advantages-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .flex {
    display: flex;
    gap: 30px;
    flex-direction: column-reverse;
    align-items: center;
}
.f33{
    width: 100%;
    max-width: 100%;
}
.f66{
    width: 100%;
    max-width: 100%;
}
    .formWrapperLeft a, .fw-23, .formWrapperRight h3 p {
        font-size: 14px;
    }
    .btn-default-yellow{
        margin: 0;
    }
    .footer__text{
        font-size: 15px;
    }
    #about .about-video img {
            width: 100%;}
}








@media (max-width: 768px) {
    .container .row,.header_nav {
        padding-inline:20px
    }

    .top_menu,.top_menu_right {
        display: none!important
    }

    .container .row {
        gap: 25px
    }

    
    
    .formWrapperLeft,.formWrapperRight {
        width: 100%;
        max-width: 100%
    }

    .multipleWrap {
        gap: 20px;
        flex-wrap: wrap
    }

    .formWrapperRight {
        margin-top: 40px
    }

        .services_section-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer__main {
    display: flex;
    flex-direction: column;
gap: 20px;}
    .footer__other{
        flex-direction: column;
        gap: 20px;
        align-items:center;
        justify-content: center;
    }
    #formWrapper{
        flex-direction: column;
    }
    .advantages-cards{
        grid-template-columns: 1fr;
    }
    #about .about-benefits{
         grid-template-columns: 1fr;
    }
    #about .about-img-text
{
    font-size: 9px;
}
    #about h2 {
        font-size: 14px;
    }
        #about .about-right .about-info-text {
        font-size: 13px;
    }
    #about .about-right .about-info-desc {
        font-size: 12px;
    }
        .btn, .btn-default, .btn-default-yellow, .btn-default2 {
        font-size: 11px !important;
    }
        .hero-title {
        font-size: 40px;
        margin-bottom: 20px;
        width: 98%;
    }
    .hero-tag {
        font-size: 13px;
    }
        .hero-subtext {
        font-size: 12px;
    }
    .hero-btns {
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* gap: 20px; */
}
.hero-btns .btn-default, .hero-btns .btn-default2{
    margin: 0;
}
.hero-nav {
    position: absolute;
    bottom: 5%;
    right: -100px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 30;
    transform: translate(-50%, 0%);
}
    .custom-prev, .custom-next {
        height: 40px;
        width: 40px;
    }
    .section-title {
        font-size: 16px;
    }
    .info .container, .info2 .container{
        flex-direction: column;
        width: 95%;
    }
    .info-texts, .info img, .info2 img{
        width: 100%;
    }
    .info-texts{
            margin: 40px 0px 10px 10px;

    }
    .info-texts h2 {
        font-size: 17px;
    }
        .info-texts p {
        padding-top: 0;
        font-size: 12px;
        max-width: 90%;
        margin-bottom: 10px;
    }
        .faq-header h3 {
        font-size: 14px;
    }
    .faq-right{
            padding: 0 10px 0 0;
    }
    .faq-content p {
        font-size: 14px;
    }

        #formWrapper h2 {
        font-size: 34px;
    }
    .footer__other{
        padding: 20px 0;
    }

    #mobile_menu {
        width: 220px;
    }
    .h_phone{
        font-size: 12px;
    }
    .h_logo{
        width: 80px;
    }
    #about .about-info{
        padding: 0;
    }
    #about .about-img{
        display: flex;
        justify-content: center;
    }
    #about .about-img-text{
        left: 17px;
    }
        #about .about-video img {
            width: 100%;}

}

@media only screen and (min-width: 992px) {
    .footer__main {
        flex-direction: row;
        padding: 5rem 0;
        justify-content: space-between;
    }
}



